# Binaries for programs and plugins
*.exe
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Project-local glide cache, RE: https://github.com/Masterminds/glide/issues/736
.glide/

/paramtemplate

# This might be controversial in a go world, but I didn't grow up here. I can't
# get my head around adding code available on github into a repo and godep
# doesn't require it so I'm making a stand.
/vendor
